::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* a {
  text-decoration: none;
}

html {
  background-color: #302838;
  overflow-x: hidden;
}

.backk {
  background: url(./img/background.jpg);
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}

.backk::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.644);
}

.l {
  background-color: #75c60b;
  background-color: #302838;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%2375c60b' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}

#timer {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullPage {
  width: 100vw;
  min-height: 100vh;
}

.fullPage .imagineBack {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.fullPage .thoborBackground {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.fullPage .thoborBackground .banner {
  z-index: 2;
  width: 100%;
  text-align: center;
}

.fullPage .thoborBackground .banner h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.fullPage .thoborBackground::before {
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.651);
}

.fullPage .optiuni {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullPage .optiuni .o {
  margin: 50px;
  border-radius: 5px;
  padding: 8px 30px;
  background: #75c60b;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.fullPage .optiuni .o:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fullPage .optiuni .o h2 {
  color: #302838;
}

.fullPage .optiuni .o h2 a {
  color: #302838;
}

.fullPage .bac {
  background: url(./img/as.png);
  background-position: center;
  background-size: contain;
}

.fullPage .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}

.fullPage .card .flip-card {
  background-color: transparent;
  width: 460px;
  height: 697px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.fullPage .card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.fullPage .card .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.fullPage .card .flip-card-front,
.fullPage .card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.fullPage .card .flip-card-front {
  color: black;
}

.fullPage .card .flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.fullPage .info1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  overflow: hidden;
  background: #75c60b;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.fullPage .info1 i {
  color: #be1212;
  font-size: 30px;
  cursor: pointer;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 20px;
}

.fullPage .info1 .text {
  width: calc(100% - 40px);
  margin: 0 20px 20px 20px;
  overflow: hidden;
}

.fullPage .info1 .text p {
  font-size: 20px;
  min-height: 200px;
  text-indent: 30px;
}

.fullPage .cerinta {
  width: auto;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  color: white;
  position: relative;
}

.fullPage .after_big {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/background.jpg);
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
}

.fullPage .after_big::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.644);
}

.fullPage .after_big .after_medium .after_small::after {
  content: "Scrie pe rand urmatoarele functii in caseta: Bulgaria(); Romania(); Germania(); Anglia(); Rusia();";
  opacity: 0;
  color: rgba(255, 255, 255, 0);
}

.fullPage .mesaj {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullPage .mesaj .p {
  margin: 20px;
}

.fullPage .mesaj .p img {
  min-width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

.fullPage .rasp {
  -ms-flex-item-align: center;
      align-self: center;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  margin: 50px 0;
}

.fullPage .rasp input {
  width: 250px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

.fullPage .rasp button {
  font-family: "Roboto", sans-serif;
  padding: 8px 40px;
  background: #75c60b;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.fullPage .re {
  width: 85vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fullPage .re .filters {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.fullPage .re .filters .a {
  width: 100%;
  margin: 10px 0;
}

.fullPage .re .filters .a h3 {
  margin: 5px 0;
  text-align: center;
  font-size: 30px;
  color: #75c60b;
}

.fullPage .re .filters .a select {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background: #817f7f;
  color: white;
}

.fullPage .re .filters .submit {
  border-radius: 5px;
  padding: 8px 20px;
  background: #75c60b;
  cursor: pointer;
  border: none;
  outline: none;
  color: #302838;
  font-size: 20px;
  width: auto;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.fullPage .re .links {
  margin-left: 30px;
  width: calc(85vw - 360px);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fullPage .re .links .nu {
  padding: 10px 15px;
  background: #888;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.fullPage .re .links .nu i {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #75c60b;
}

.fullPage .re .links .nu h3 {
  font-size: 20px;
  color: white;
}

.fullPage .images {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.fullPage .images .left,
.fullPage .images .right {
  width: 500px;
  margin: 25px;
  resize: none;
}

.fullPage .images .left img,
.fullPage .images .right img {
  width: 100%;
  resize: none;
  height: auto;
  z-index: 4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fullPage .images .left .im,
.fullPage .images .right .im {
  position: absolute;
  width: 65px;
  height: 65px;
  z-index: 5;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.fullPage .cheie {
  width: 100vw;
  min-height: 750px;
}

.fullPage .cheie img {
  width: 150px;
  height: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 5;
}

.fullPage .cheie .clarNuCheie {
  position: absolute;
  z-index: 4;
  width: 90px;
  height: auto;
}

.fullPage .cheie .clarNuCheie img {
  width: 90px;
  height: auto;
}

.fullPage .codul {
  width: 85vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullPage .codul svg {
  margin: 5px;
}

.fullPage .imagi {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin: 20px 0;
}

.fullPage .imagi .small {
  margin: auto;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullPage .imagi .small img {
  width: 150px;
  cursor: pointer;
  height: auto;
}

.fullPage .imagi .big {
  margin: 50px 0;
}

.fullPage .imagi .big img {
  width: 870px;
  -o-object-fit: contain;
     object-fit: contain;
}

.fullPage .titlu {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #75c60b;
  margin-bottom: 20px;
}

.fullPage .form {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

.fullPage .form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.fullPage .form .left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.fullPage .form .left .row input {
  text-indent: 10px;
  font-size: 20px;
  width: 350px;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 3px solid #75c60b;
}

.fullPage .form .left .row h3 {
  position: relative;
  font-size: 20px;
  color: #f1f1f1;
}

.fullPage .form .left .row button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #75c60b;
  color: #f1f1f1;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.fullPage .form .right {
  width: auto;
  height: auto;
}

.fullPage .form .right textarea {
  outline: none;
  width: 400px;
  text-indent: 20px;
  height: 310px;
  padding: 10px;
  border: 3px solid #75c60b;
  border-radius: 10px;
  font-size: 25px;
}

@media screen and (max-width: 1300px) {
  .fullPage .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fullPage .images .right {
    margin: 20px;
  }
}

.help {
  top: 0;
  right: 0;
  position: fixed;
  width: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
}

.help i {
  cursor: pointer;
  margin: 20px;
  font-size: 40px;
  color: #75c60b;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  z-index: 11;
}

.help .info {
  padding-top: 50px;
  background: #302838;
  min-height: 100vh;
  position: relative;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.help .info .instr {
  text-indent: 30px;
  width: 400px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.col {
  color: #c5c5c5;
}

.back {
  font-size: 23px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  z-index: 10;
}

.Dialog {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 10px;
  border: 3px solid grey;
  position: absolute;
  cursor: move;
  z-index: 10;
  top: 150px;
  left: 520px;
}

.hidden {
  display: none;
}

.DialogTitle {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid grey;
}

.Contents {
  padding-top: 50px;
  padding-bottom: 200px;
}

.closeButton {
  font-size: 12px;
  width: 100px;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  margin-left: 140px;
  cursor: pointer;
}
/*# sourceMappingURL=Style.css.map */